page-maxims {
   

   
    .list 
.item-avatar  {     
    width:10% !important;  
    height : 10% !important;  
    max-width: 10px !important;  //any size
    max-height: 10px !important; //any size 
    }
}