page-generate-catgeory-list {
  .item {

    &.item-md,
    &.item-ios {
      background: #dbefff;
    }
  }

  .topic__item {
    .item {

      &.item-md,
      &.item-ios {
        background: #fff;
        padding-left: 40px;
      }
    }
  }

  .item-md [item-left],
  .item-md [item-right],
  .item-md [item-start],
  .item-md [item-end],
  .item-ios [item-left],
  .item-ios [item-right],
  .item-ios [item-start],
  .item-ios [item-end] {
    margin: 9px 8px 9px 0 !important;
  }
}
