// Styles for all of the user pages:
// Login, Signup, Support

page-user {
  .logo {
    padding: 20px 0;
    text-align: center;

    img {
      max-width: 150px;
    }
  }

  .list {
    margin-bottom: 0;
  }
}