page-generate-review-test {
  .question-content {
    min-height: calc(100vh - 125px);
  }
  .bookmark {
    width: 40px;
  }
  .question-name{
    font-size: 2rem;
    color: #000;
    font-weight: 600;
  }
}
