page-profile {
  .user-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: rgba(#2196f3, 0.5);
    border: 2px solid rgba(#fff, 1);
    object-fit: cover;
  }

  ion-scroll {
    .scroll-content {
    padding: 0px !important;
      color: #fff;
    }
  }

  .image-list {
    opacity: 0;
    transition: all 0.7s ease-in-out;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
  }

  .isVisible {
    opacity: 1;
  }

  /* Stories */
  .story {
    white-space: nowrap;
    height: 90px
  }

  .story_scroll {
    display: inline-block;
    width: 70px;
    margin: 10px;
  }

  .story_img_bg {
    width: 70px;
    padding: 2px;
    border-radius: 50%;
    padding-bottom: 0;
    transition: all 1s;
    -webkit-transition: all 0.2s;
  }

  .story_img_bg:active {
    transform: scale(1.1);
  }

  .story_img {
    width: 70px;
    border-radius: 50%;
    border: 2px solid transparent;
    &.active {
        border-color: #fff;
    }
  }

  .story_text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 3px
  }

  .list {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 3px;
    margin-left: 15px
  }

  .item-md ion-avatar ion-img,
  .item-md ion-avatar img {
    box-shadow: 0px 0px 0px 2px #fb7e7e;
  }

}
