page-question-attempted {
  .uc-question__item{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    &.attempted {
      background: #cfffd1;
      color: #4CAF50;
      border-color: #4CAF50;
  }
  }
}
