<ion-header>

  <ion-navbar>
    <ion-title>Forgot Password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding class="forgot-section-bg">
  <div class="section forgot-section">
    <ion-row margin-vertical>
      <ion-col text-center>
        <img class="logo" src="assets/images/logo.png" alt="logo">
      </ion-col>
    </ion-row>
    <form [formGroup]="forgotPassForm" novalidate *ngIf="isForgotPassForm" (ngSubmit)="onForgotSubmit()">
      <ion-row>
        <ion-col class="form-float-field">
          <ion-item>
            <ion-label color="primary" floating>Email Address</ion-label>
            <ion-input [class.error-box]="false" formControlName="email" name="email" type="email" required></ion-input>
          </ion-item>
          <span class="error-msg"
            [hidden]="!(forgotPassForm.controls['email'].errors?.required && (forgotPassForm.controls['email'].dirty || isFormSubmitted) &&  isFieldValid('email'))">
            Email address is required.
          </span>
          <span class="error-msg"
            [hidden]="!(forgotPassForm.controls.email.hasError('maxlength') && (forgotPassForm.controls['email'].dirty || isFormSubmitted) && !forgotPassForm.controls['email'].errors?.required && !forgotPassForm.controls.email.hasError('pattern'))">
            Email address maximum length is 100.
          </span>
          <span class="error-msg"
            [hidden]="!(forgotPassForm.controls.email.hasError('pattern') && (forgotPassForm.controls['email'].dirty || isFormSubmitted) && !forgotPassForm.controls['email'].errors?.required)">
            Please enter valid email address.
          </span>
        </ion-col>
      </ion-row>
      <ion-row margin-vertical align-items-center>
        <ion-col col-12 text-left>
          <button block ion-button color="primary" type="submit">Submit</button>
        </ion-col>
      </ion-row>

    </form>
    <form [formGroup]="otpForm" *ngIf="isOtpForm" novalidate (ngSubmit)="onOtpFormSubmit()">
      <ion-row>
        <ion-col col-12>
          <p class="text text-info">
            We have sent a 4 digit OTP to your registered email address. Please enter your OTP -
          </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="form-float-field">
          <ion-item>
            <ion-label color="primary" floating>Otp</ion-label>
            <ion-input [class.error-box]="false" formControlName="otp" name="otp" type="text" required></ion-input>
          </ion-item>
          <span class="error-msg"
            [hidden]="!(otpForm.controls['otp'].errors?.required && (otpForm.controls['otp'].dirty || isOtpFormSubmitted) &&  isFieldValid('otp'))">
            OTP is required.
          </span>
        </ion-col>
      </ion-row>
      <ion-row margin-vertical align-items-center>
        <ion-col col-12 text-left>
          <button block ion-button color="primary" type="submit">Submit</button>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>
