page-generate-questions {
  ion-input {
    border: 1px solid #ccc;
    background: #fff;
  }

  .question_qty {
    width: 100px;
  }

  ion-content {
    ion-grid {
      color: #000;

      ion-col {
        padding: 5px 20px !important;
      }

      &:first-child {
        background: #dbefff;
        padding-bottom: 16px !important;
      }

      &:nth-child(even) {
        ion-row {
          align-items: center;

          &:nth-child(even) {
            background: #dbefff;
          }
        }
      }
    }
  }
}
